doctype html

html(lang='en')
  
html
head
  style
    include style.css

  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    center
          div.container.card
            h1 Welcome to
            h1=province
  div.container
    img(src=pic1 style="width:100%;height:500px;")
    img(src=pic2 style="width:49%;height:500px;")
    img(src=pic3 style="width:49%;height:500px;")
  center
    div
      h1 Delicacies:
      ul
        each de in deli
          li=de
      label Group of island :
        span=gp
      br
      label Number of Population :
        span=pp
      br
      br
      br
      h1 A glimpse of Palawan:
      br
      span=mark
      br
      p rate:

      div
      button#1 1  
      button#2 2
      button#3 3
      button#4 4
      button#5 5

    script(src="scripts/jquery.js")
script.
  (function () {
    var amount = $('#amount').val();
     $.ajax({
      type: "POST",
      url: "http://localhost:3000",
      data: {'amount':amount},
      success: function(){},
      dataType: 'json'
    });
  })()
    
          
        
    
       
    