html
  head 
    style
      include style.css
    title=shortname
    script
      include jquery.min.js
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    body
      center
            div.card
              h1 Welcome to
              h1=Province
    div.container
      img(src=img1 style="width:100%;height:auto;")
      img(src=img2 style="width:49%;height:auto; ")
      img(src=img3 style="width:49%;height:auto; padding-left:10px; padding-right:-50px;")
    center
      div
        br
        div.container.card
          div.d
            h2 Delicacies:
            ul
              each de in delicacies
                li=de
            h3 Group of island :
              span=groupOfIsland
            br
            h3 Number of Population :
              span=Population
        br
        br
        br
        h2 A glimpse of Palawan:
        br
        span=write
        br
        h5 Rating:
        p#rate=rate
        div
        button 1  
        button 2
        button 3
        button 4
        button 5
        script(src='/rating.js')


          
        
    
       
    