html
  head 
    style
      include style.css
    title=Province
    script
      include jquery.min.js
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    body
      center
            div.container.card
              h1 Welcome to
              h1=Province
    div.container
      img(src=img1 style="width:100%;height:500px;")
      img(src=img2 style="width:49%;height:500px;")
      img(src=img3 style="width:49%;height:500px;")
    center
      div
        h1 Delicacies:
        ul
          each de in delicacies
            li=de
        label Group of island :
          span=groupOfIsland
        br
        label Number of Population :
          span=Population
        br
        br
        br
        h1 A glimpse of Palawan:
        br
        span=write
        br
        p#rate rate:
        div
        button 1  
        button 2
        button 3
        button 4
        button 5
        script(src='/rating.js')


          
        
    
       
    